<div class="wrapper">
  <nav class="sidenav">
    <auro-menu>
      <auro-menuoption value="start" routerLink="/start" routerLinkActive="active" selected="true">Start</auro-menuoption>
      <auro-menuoption value="buttons" routerLink="/simple-buttons" routerLinkActive="active">Buttons</auro-menuoption>
      <auro-menuoption value="complexform" routerLink="/complex-form" routerLinkActive="active">Complex Form</auro-menuoption>
      <auro-menuoption value="checkbox" routerLink="/checkbox-demo" routerLinkActive="active">Checkboxes</auro-menuoption>
    </auro-menu>
  </nav>
  <section class="main-outlet">
    <router-outlet></router-outlet>
  </section>
</div>