@import "~@alaskaairux/design-tokens/dist/tokens/SCSSVariables";
@import "~@alaskaairux/design-tokens/dist/tokens/SassCustomProperties";
@import "~@alaskaairux/webcorestylesheets/dist/breakpoints";
@import '~@alaskaairux/webcorestylesheets/dist/fonts';
@import "~@alaskaairux/webcorestylesheets/dist/normalize";
@import "~@alaskaairux/webcorestylesheets/dist/essentials";
@import "~@alaskaairux/webcorestylesheets/dist/utilityClasses";

$asset-font-circular-dir: 'https://resource.alaskaair.net/stylesheets/circular/';


body { 
    width: 80%;
    margin: auto;
}



